<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* Add a black background color to the top navigation */
*{
   
    font-family: 'Poppins', sans-serif;
    
    
  }



body{
  min-height: 100vh;
  
  align-items: center;
  justify-content: center;
  background: #fff;
}
.wrapper2{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #57492B;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper2{
  display: flex;
  align-items: left;
  justify-content: center;
  margin-left: 15%;
  margin-top: 5px;
  margin-bottom: 50px;
  position: relative;
  max-width: 900px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  

}
 svg{
margin-left: 39% ;
}
.wrapper2 div h1{
  color: #57492B;
}

.wrapper2 .lado h1{
  color: #57492B;
  
  margin: auto;
  
  font-size: 60px;
}

.wrapper2 .lado h3{
  color: #57492B;
  margin-left: 19% ;
}

.lado{
  margin-left: 50px;
  background-color: none;
  width: 400px;
  height: 400px;
  border-radius: 6px;
 
  background-color: #fff;
 
  
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #57492B;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #57492B;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper .formss .input-box{
  height: 52px;
  margin: 18px 0;
}
.formss .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #57492B;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #57492B;
}
.formss .policy{
  display: flex;
  align-items: center;
}
.formss h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #707070;
  letter-spacing: 1px;
  border: none;
  background: #fff;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #ffffffad;
}
.formss .text h3{
 color: #57492B;
 width: 100%;
 text-align: center;
}
.formss .text h3 a{
  color: #57492B;
  text-decoration: none;
}
.formss .text h3 a:hover{
  text-decoration: underline;
}


h1{
  margin: auto;
  text-align: center;
  color: #57492B;
}


#foto{
  justify-content: center;
  align-items: center;
  padding: 0.7em 1em;
  background: #fff;
  color: #707070;

}

.kmiseta{
  height: 300px;
  width: 250px;
  margin: auto;
  padding: 20px;
  align-self: center;
  margin-top: 10%;
}

footer {
  margin-top: 30px;
  width: 100%;
  position: absolute;
  margin-bottom: 0;
  background-color: #57492B;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content p {
  margin-right: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin: 0 5px;
}

.footer-bottom {
  margin-top: 20px;
=======
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* Add a black background color to the top navigation */
*{
   
    font-family: 'Poppins', sans-serif;
    
    
  }



body{
  min-height: 100vh;
  
  align-items: center;
  justify-content: center;
  background: #fff;
}
.wrapper2{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #57492B;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper2{
  display: flex;
  align-items: left;
  justify-content: center;
  margin-left: 15%;
  margin-top: 5px;
  margin-bottom: 50px;
  position: relative;
  max-width: 900px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  

}
 svg{
margin-left: 39% ;
}
.wrapper2 div h1{
  color: #57492B;
}

.wrapper2 .lado h1{
  color: #57492B;
  
  margin: auto;
  
  font-size: 60px;
}

.wrapper2 .lado h3{
  color: #57492B;
  margin-left: 19% ;
}

.lado{
  margin-left: 50px;
  background-color: none;
  width: 400px;
  height: 400px;
  border-radius: 6px;
 
  background-color: #fff;
 
  
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #57492B;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #57492B;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper .formss .input-box{
  height: 52px;
  margin: 18px 0;
}
.formss .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #57492B;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #57492B;
}
.formss .policy{
  display: flex;
  align-items: center;
}
.formss h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #707070;
  letter-spacing: 1px;
  border: none;
  background: #fff;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #ffffffad;
}
.formss .text h3{
 color: #57492B;
 width: 100%;
 text-align: center;
}
.formss .text h3 a{
  color: #57492B;
  text-decoration: none;
}
.formss .text h3 a:hover{
  text-decoration: underline;
}


h1{
  margin: auto;
  text-align: center;
  color: #57492B;
}


#foto{
  justify-content: center;
  align-items: center;
  padding: 0.7em 1em;
  background: #fff;
  color: #707070;

}

.kmiseta{
  height: 300px;
  width: 250px;
  margin: auto;
  padding: 20px;
  align-self: center;
  margin-top: 10%;
}

footer {
  margin-top: 30px;
  width: 100%;
  position: absolute;
  margin-bottom: 0;
  background-color: #57492B;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content p {
  margin-right: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin: 0 5px;
}

.footer-bottom {
  margin-top: 20px;
>>>>>>> 29ea02d334301b56c1cebbc581882dd7205a176f
}