
         @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
body{
  width: 100%;
  margin-left: 0px ;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  
}
.banner{
  opacity: .4;
}

#index{
  float: left;
}
#li {
    margin-top: 1%;
    float: right;
    margin-left: 0%;
}
img .banner{
    opacity: 2;
}


li a {
  display: block;
  color: #57492B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: larger;
}

li a:hover {
  background-color: none;
}

#fondo {
  
	background-image: url("/banner");
	padding: 100px 100px;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
  width: 99;
}

.wrapper2{
    margin-left: 18%;
}

#fondo:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

#fondo h1 {
	font-size: 60px;
	color: #fff;
	position: relative
}
#registro{
    display: flex;
    width: 50%;
}
.boton{
    margin-top: 25%;
    position: absolute;
    display: block;
    
}
.input-box.button input{
    margin-top: 250%;

}
.wrapper{
    margin-left: 5px;
    margin-top: 5%;
    font-weight: 100;
    }
h1{
    position: absolute;
    display: block;
}
.wrapper .formss .input-box{
  height: 52px;
  margin: 35px 0;
  color: #57492B;
  text-align: center;
}

#espacio{
    display: flex;
}
.ayuda{
    
    width: 250px;
    height: 470px;
    background-color: #fff;
    font-size:medium;
    margin: auto;
    text-align: center;
    font-weight: 100;
}

.card {
    
    align-items: center;
  width: 400px;
  height: 550px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0px 10px 10px rgb(73, 70, 92);
  transition: 0.5s;
  padding: 10px;
}

.card:hover {
  transform: translateY(-7px);
  box-shadow: 0px 10px 10px black;
}

.top {
  display: flex;
  align-items: center;
  padding-left: 10px;
  
}

#title2 {
  color: #57492B;
  margin-left:200% ;
  font-size: 30px;
}
.code-container {
  text-align: center;
  display: flex;
}
#code {
  width: 290px;
  height: 400px;
  resize: none;
  background-color: rgb(73, 70, 92);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px;
}
#code:focus {
  outline: none !important;
}
#espacioprincipal{
    top: 5px;
    margin: auto;
  width: 94%;
  overflow-x: auto; /* Esto permite el scroll horizontal */
  white-space: nowrap; /* Evita que el contenido se rompa en varias líneas */
}








.topnav {
    background-color: none;
    overflow: hidden;
    top: 0%;
  }
  
  /* Style the links inside the navigation bar */
  
  .topnav a {
    float: left;
    display: block;
    color: #57492B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;

  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: none;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: none;
    color: #57492B;
    font-weight: 600;
    font-size: xx-large;

  }
  @media screen and (min-width: 1200px) {
  .especial{
    width: 55%;
  }
}

  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

body{
  min-height: 100vh;
  
  align-items: center;
  justify-content: center;
  background: #fff;
}
.wrapper2{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #57492B;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper2{
  display: flex;
  align-items: left;
  justify-content: center;
  margin-left: 15%;
  margin-top: 5px;
  margin-bottom: 50px;
  position: relative;
  max-width: 900px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  

}
 svg{
margin-left: 39% ;
}
.wrapper2 div h1{
  color: #57492B;
}

.wrapper2 .lado h1{
  color: #57492B;
  
  margin: auto;
  
  font-size: 60px;
}

.wrapper2 .lado h3{
  color: #57492B;
  margin-left: 19% ;
}

.lado{
  margin-left: 50px;
  background-color: none;
  width: 400px;
  height: 400px;
  border-radius: 6px;
 
  background-color: #fff;
 
  
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #57492B;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #57492B;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper .formss .input-box{
  height: 52px;
  margin: 18px 0;
}
.formss .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #57492B;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #57492B;
}
.formss .policy{
  display: flex;
  align-items: center;
}
.formss h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #707070;
  letter-spacing: 1px;
  border: none;
  background: #fff;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #ffffffad;
}
.formss .text h3{
 color: #57492B;
 width: 100%;
 text-align: center;
}
.formss .text h3 a{
  color: #57492B;
  text-decoration: none;
}
.formss .text h3 a:hover{
  text-decoration: underline;
}


h1{
  margin: auto;
  text-align: center;
  color: #57492B;
}


#foto{
  justify-content: center;
  align-items: center;
  padding: 0.7em 1em;
  background: #fff;
  color: #707070;

}

.kmiseta{
  height: 300px;
  width: 250px;
  margin: auto;
  padding: 20px;
  align-self: center;
  margin-top: 10%;
}

footer {
  margin-top: 30px;
  width: 100%;
  position: absolute;
  margin-bottom: 0;
  background-color: #57492B;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content p {
  margin-right: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin: 0 5px;
}

.footer-bottom {
  margin-top: 20px;
}


              

 
.slider {
  margin: auto;
  width: 420px;
  text-align: center;
  overflow: hidden;
}

.slides {
margin: auto;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  
}

  .slides::-webkit-scrollbar {
      width: 10px;
      height: 10px;
  }

  .slides::-webkit-scrollbar-thumb {
      background: #57492B;
      border-radius: 10px;
  }

  .slides::-webkit-scrollbar-track {
      background: transparent;
  }

  .slides > div {
      margin: auto;
      scroll-snap-align: start;
      /* flex-shrink: 0; */
      width: 400px;
      height: 550px;
      margin-right: 50px;
      border-radius: 10px;
      background: #fff;
      transform-origin: center center;
      transform: scale(1);
      
      /* position: relative; */
      display: flex;
      justify-content: center;
      align-items: center;

      
      
  }

  svg{
    margin: auto;
  }

      
/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a {
      display: none;
  }
}

html, body {
  
  
}

body {
  
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-weight: 600;
  
}
h1{
color: #57492B;
margin: auto;
width: 300px;
font-weight: 600;

}
h3{
color: #57492B;
margin: auto;
width: 300px;
font-weight: 600;

}





   












#fondo {
  background-image: url("/banner");
	padding: 100px 100px;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
  width: 99;
}
  









footer {
  margin-top: 5px;
  width: 100%;
  position: absolute;
  margin-bottom: 0;
  background-color: #57492B;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content p {
  margin-right: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin: 0 5px;
}

.footer-bottom {
  margin-top: 20px;
}

.ayuda{
    
    width: 250px;
    height: 470px;
    background-color: #fff;
    font-size:medium;
    margin: auto;
    text-align: center;
    font-weight: 100;
}

.card {
    
    align-items: center;
  width: 400px;
  height: 550px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0px 10px 10px rgb(73, 70, 92);
  transition: 0.5s;
  padding: 10px;
}

.card:hover {
  transform: translateY(-7px);
  box-shadow: 0px 10px 10px black;
}

.top {
  display: flex;
  align-items: center;
  padding-left: 10px;
  
}

#title2 {
  color: #57492B;
  margin-left:200% ;
  font-size: 30px;
}
.code-container {
  text-align: center;
  display: flex;
}
#code {
  width: 290px;
  height: 400px;
  resize: none;
  background-color: rgb(73, 70, 92);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px;
}
#code:focus {
  outline: none !important;
}
#espacioprincipal{
    margin: auto;
  width: 94%;
  overflow-x: auto; /* Esto permite el scroll horizontal */
  white-space: nowrap; /* Evita que el contenido se rompa en varias líneas */
}
















#fondo {
  
	background-image: url("/banner");
	padding: 100px 100px;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
  width: 99;

}






.logInButton{
 border: #fff 4px;
  color: #fff;
  background-color: transparent;
  font-size: larger;
  position: relative
}

.section2 img{
  margin-top: 2%;
  max-width: 70px;
  margin-left: 48%;
}

.section2 h2{
  margin-left: 33%;
}
.section3{
  margin-left: 30%;
  display: flex;
}
.section3 div{
  width: 20%;
  height: 300px;
  
  padding: auto;
  
  text-align: center;
}
.section3 p{
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.section3 img{
  max-width: 40px;
}
footer {
  margin-top: 5px;
  width: 100%;
  position: absolute;
  margin-bottom: 0;
  background-color: #57492B;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content p {
  margin-right: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin: 0 5px;
}

.footer-bottom {
  margin-top: 20px;
}
  

  












#fondo {
  
	background-image: url("/banner");
	padding: 100px 100px;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
  width: 99;

}

.lado img{
    max-width: 100%;
}







    

    
  



body{
width: 100%;
margin-left: 0px ;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: none;

}
.banner{
opacity: .4;
}

#index{
float: left;
}
#li {
margin-top: 1%;
float: right;
margin-left: 0%;
}
img .banner{
opacity: 2;
}


li a {
display: block;
color: #57492B;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: larger;
}

li a:hover {
background-color: none;
}

#fondo {

background-image: url("/banner");
padding: 100px 100px;
text-align: center;
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
width: 99;
}

.wrapper2{
margin-left: 18%;
}

#fondo:before {
content:'';
position: absolute;
   top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0,0,0,0.6);
}

#fondo h1 {
font-size: 60px;
color: #fff;
position: relative
}
#registro{
display: flex;
width: 50%;
}
